<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="frm_leave_chitiet_giohang_failse">
    <div class="modal fade" id="frm_leave_chitiet_giohang_failse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 30px;">Thông báo</h5>
                </div>
                <div class="modal-body">
                    <p>Bạn đã đặt hàng thất bại!!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-turn-back-account">Trở lại Trang người dùng</button>
                    <button type="button"  class="btn btn-danger btn-keep-buying" data-dismiss="modal">Tiếp tục mua hàng</button>
                </div>
            </div>
        </div>
    </div>
</th:block>