<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>CustomerInfo | Nhà Xinh</title>
    <th:block th:replace="/dashboard/layout/header::header"/>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->
    <th:block th:replace="/dashboard/layout/navbar/navbar::navbar"/>
    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/dashboard/layout/left-side-menu::left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <!-- Start Content-->
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Uplon</a></li>
                                    <li class="breadcrumb-item active">User</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Khách hàng</h4>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-bottom: 5px;  margin-top: -16px;">
                    <div class="col-md-9">

                        <button type="button" style="margin-bottom: 10px;border-radius: 8px" id="modalAddUser"
                                class="btn btn-success float-left  modalAddProduct">
                            <i class="fas fa-file-upload"></i>
                            Xuất file
                        </button>
                        <button type="button" style="margin-bottom: 10px;margin-left: 5px;border-radius: 8px"
                                class="btn btn-primary float-left ">
                            <i class="fas fa-file-download"></i>
                            Nhập file
                        </button>

                    </div>

                    <div class="col-md-3">
                        <button type="button" style="margin-bottom: 10px;border-radius: 8px"
                                class="btn btn-danger float-right btn-go-add-customer">
                            <i class="fas fa-user-plus"></i>
                            Thêm khách hàng
                        </button>
                    </div>
                </div>

                <div class="container-content shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="page-title">Tất cả khách hàng</h5>
                        </div>
                    </div>

                <div class="row" style=" margin-top: 15px;">
                    <div class="col-lg-12">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap tableListOrder"
                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center">Số điện thoại</th>
                                    <th class="align-middle text-center">Tên khách hàng</th>
                                    <th class="align-middle text-center">Email</th>
                                </tr>
                            </thead>
                                <tbody>

                                <th:block th:each="customerList, count : ${customerList}">

                                <tr>
                                    <td class="align-middle text-center"th:text="*{customerList.phone}"></td>
                                    <td class="align-middle text-center" ><a th:href="*{'/api/customerInfo/edit/'+ customerList.id}" th:text="*{customerList.fullName}"></a></td>
                                    <td class="align-middle text-center"th:text="*{customerList.userName}"></td>

                                </tr>
                                </th:block>

                                </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- end content -->



        <!-- Footer Start -->
        <th:block th:replace="/dashboard/layout/footer::footer"/>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- Vendor js -->
<th:block th:replace="/dashboard/layout/script/script::script"/>
<th:block th:include="/dashboard/customerDashboard/frm_list_customer::frm_list_customer"/>
<script src="/assets_dashboard/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/assets_dashboard/assets/js/pages/datatables.init.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/buttons.bootstrap4.min.js"></script>

<script src="/assets_dashboard/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets_dashboard/assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="/assets_dashboard/assets/libs/pdfmake/vfs_fonts.js"></script>

<script src="/assets_dashboard/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/buttons.print.min.js"></script>

<script src="/assets_dashboard/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.select.min.js"></script>

<script src="/assets_dashboard/assets/js/all-script-handle-dashboard/customer/customer.js"></script>

</body>
</html>