<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="category-menu">

    <div id="product-categories-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            <div class="product-categories-menu-containter">
                <ul id="menu-danh-muc-sp" class="menu">
                    <li id="menu-item-24213"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-24213 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/cua-hang/#">Sofa và Armchair</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-3785"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3785"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/sofa/">Sofa</a></li>
                            <li id="menu-item-3786"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3786"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/sofa-goc/">Sofa góc</a></li>
                            <li id="menu-item-24359"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-24359"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/armchair/">Armchair</a></li>
                            <li id="menu-item-3377"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3377"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/ghe-dai-don/">Ghế dài &amp; đôn</a></li>
                            <li id="menu-item-3378"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3378"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/ghe-thu-gian/">Ghế thư giãn</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-24214"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-24214 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/cua-hang/#">Bàn</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-24417"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-24417"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/ban-nuoc/">Bàn nước</a></li>
                            <li id="menu-item-3362"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3362"><a
                                    href="https://nhaxinh.com/danh-muc/phong-an/ban-an/">Bàn ăn</a></li>
                            <li id="menu-item-3372"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3372"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/ban-ben/">Bàn bên</a></li>
                            <li id="menu-item-3387"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3387"><a
                                    href="https://nhaxinh.com/danh-muc/phong-lam-viec/ban-lam-viec/">Bàn làm việc</a></li>
                            <li id="menu-item-3382"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3382"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/ban-trang-diem/">Bàn trang điểm</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-28026"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28026 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/cua-hang/#">Ghế</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-28024"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-28024"><a
                                    href="https://nhaxinh.com/danh-muc/phong-an/ghe-an/">Ghế ăn</a></li>
                            <li id="menu-item-3365"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3365"><a
                                    href="https://nhaxinh.com/danh-muc/phong-an/ghe-bar/">Ghế bar</a></li>
                            <li id="menu-item-3388"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3388"><a
                                    href="https://nhaxinh.com/danh-muc/phong-lam-viec/ghe-phong-lam-viec/">Ghế làm việc</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-28344"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28344 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/cua-hang/#">Giường ngủ</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-28345"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-28345"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/giuong/">Giường</a></li>
                            <li id="menu-item-3381"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3381"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/ban-dau-giuong/">Bàn đầu giường</a></li>
                            <li id="menu-item-3795"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3795"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/nem/">Nệm</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-24217"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-24217 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/cua-hang/#">Tủ và kệ</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-3790"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3790"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/tu-tivi/">Tủ tivi</a></li>
                            <li id="menu-item-3776"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3776"><a
                                    href="https://nhaxinh.com/danh-muc/outlet/tu-trung-bay/">Tủ trưng bày</a></li>
                            <li id="menu-item-3779"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3779"><a
                                    href="https://nhaxinh.com/danh-muc/phong-an/tu-ly/">Tủ ly</a></li>
                            <li id="menu-item-3780"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3780"><a
                                    href="https://nhaxinh.com/danh-muc/phong-an/tu-ruou/">Tủ rượu</a></li>
                            <li id="menu-item-3781"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3781"><a
                                    href="https://nhaxinh.com/danh-muc/phong-an/xe-day/">Xe đẩy</a></li>
                            <li id="menu-item-3798"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3798"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/tu-hoc-keo/">Tủ hộc kéo</a></li>
                            <li id="menu-item-3797"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3797"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/tu-ao/">Tủ áo</a></li>
                            <li id="menu-item-3796"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3796"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/tu-am-tuong/">Tủ âm tường</a></li>
                            <li id="menu-item-3788"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3788"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/tu-giay/">Tủ giầy</a></li>
                            <li id="menu-item-3380"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3380"><a
                                    href="https://nhaxinh.com/danh-muc/phong-khach/ke-phong-khach/">Kệ phòng khách</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-28027"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28027 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/cua-hang/#">Bếp</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-3813"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3813"><a
                                    href="https://nhaxinh.com/danh-muc/bep/tu-bep/">Tủ bếp</a></li>
                            <li id="menu-item-3810"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3810"><a
                                    href="https://nhaxinh.com/danh-muc/bep/phu-kien-bep/">Phụ kiện bếp</a></li>
                            <li id="menu-item-3349"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3349"><a
                                    href="https://nhaxinh.com/danh-muc/bep/dao-bep/">Đảo bếp</a></li>
                            <li id="menu-item-3811"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3811"><a
                                    href="https://nhaxinh.com/danh-muc/bep/quay-bar/">Quầy bar</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-3351"
                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-3351 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/danh-muc/hang-trang-tri/">Hàng trang trí</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-3353"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3353"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/binh-trang-tri/">Bình trang trí</a>
                            </li>
                            <li id="menu-item-3354"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3354"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/den/">Đèn trang trí</a></li>
                            <li id="menu-item-3355"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3355"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/do-trang-tri-noel/">Đồ trang trí
                                Noel</a></li>
                            <li id="menu-item-3356"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3356"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/dong-ho-hang-trang-tri/">Đồng hồ</a>
                            </li>
                            <li id="menu-item-3357"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3357"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/dung-cu-bep/">Dụng cụ bếp</a></li>
                            <li id="menu-item-3358"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3358"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/goi-va-thu-bong/">Gối và thú bông</a>
                            </li>
                            <li id="menu-item-3359"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3359"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/hang-trang-tri-khac/">Hàng trang trí
                                khác</a></li>
                            <li id="menu-item-3360"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3360"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/hoa-cay/">Hoa &amp; Cây</a></li>
                            <li id="menu-item-3800"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3800"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/khung-guong/">Khung gương</a></li>
                            <li id="menu-item-3801"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3801"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/khung-hinh/">Khung hình</a></li>
                            <li id="menu-item-3802"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3802"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/nem-hang-trang-tri/">Nệm</a></li>
                            <li id="menu-item-3804"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3804"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/san-pham-khac/">Sản phẩm khác</a></li>
                            <li id="menu-item-3805"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3805"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/tham/">Thảm</a></li>
                            <li id="menu-item-3794"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3794"><a
                                    href="https://nhaxinh.com/danh-muc/phong-ngu/men/">Mền</a></li>
                            <li id="menu-item-3806"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3806"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/tranh/">Tranh</a></li>
                            <li id="menu-item-3807"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3807"><a
                                    href="https://nhaxinh.com/danh-muc/hang-trang-tri/tuong-trang-tri/">Tượng trang trí</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-3773"
                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-3773 has-child"
                        aria-expanded="false"><a href="https://nhaxinh.com/danh-muc/ngoai-that/">Ngoại thất</a>
                        <button class="toggle"><i class="icon-angle-down"></i></button>
                        <ul class="sub-menu">
                            <li id="menu-item-3391"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3391"><a
                                    href="https://nhaxinh.com/danh-muc/ngoai-that/ban-ngoai-troi/">Bàn ngoài trời</a></li>
                            <li id="menu-item-3393"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-3393"><a
                                    href="https://nhaxinh.com/danh-muc/ngoai-that/ghe-ngoai-troi/">Ghế ngoài trời</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</th:block>