<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="see-cartItem">
    <textarea style="display:none" id="CaritemProduct">
        <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" onclick="page.commands.deleteCartById({4})" class="remove remove_from_cart_button" aria-label="Remove this item" data-product_id="37076" data-cart_item_key="98ac07a2cd794965eb4f22bae53c3516" data-product_sku="3*105078">×</a><a href="#">
                        <img width="300" height="200" src="{0}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="{0} 300w, {0} 601w, {0} 768w, {0} 600w, {0} 1000w" sizes="(max-width: 300px) 100vw, 300px">{1}</a>
                        <span class="quantity">{2} × <span class="woocommerce-Price-amount amount"><bdi>{3}</bdi></span></span></li>
                </ul>



    </textarea>
</th:block>