<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard | Uplon - Responsive Bootstrap 4 Admin Dashboard</title>
    <th:block th:replace="/dashboard/layout/header::header"/>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->
    <th:block th:replace="/dashboard/layout/navbar/navbar::navbar"/>
    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/dashboard/layout/left-side-menu::left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Uplon</a></li>
                                    <li class="breadcrumb-item active">Category</li>
                                </ol>
                            </div>
                            <h6 class="page-title"><a href="/product-dashboard">Quay lại danh sách sản phẩm</a> </h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <h3>Thêm mới loại sản phẩm</h3>
                        </div>
                        <div class="row">
                            <label>Tên loại sản phẩm</label>
                            <input type="text" class="form-control" id="nameCategory" name="nameCategory"
                                   placeholder="Nhập loại sản phẩm">
                        </div>
                        <div class="row">
                            <label>Code loại sản phẩm</label>
                            <input type="text" class="form-control" id="codeCategory" name="codeCategory"
                                   placeholder="Nhập code loại sản phẩm">
                        </div>

                        <div class="row">
                            <button type="button" style="margin-bottom: 10px;margin-top: 10px"
                                    class="btn btn-success float-right createCategory " id="createCategory">
                                <i class="fas fa-plus-square" style="margin-right: 5px;"></i>Tạo mới
                            </button>
                        </div>

                    </div>

                    <div class=" col-md-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h2 class="header-title">Danh sách Loại sản phẩm</h2>

                                    <table id="key-table"
                                           class="table table-bordered dt-responsive nowrap tableListOrder"
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th class="text-center align-middle">#</th>
                                            <th class="text-center align-middle">Tên loại sản phẩm</th>
                                            <th class="text-center align-middle">Code loại sản phẩm</th>
                                            <th class="text-center align-middle">Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="category, count : ${category}">
                                            <tr>
                                                <td class="text-center align-middle" id="idCategory" name="id"th:text="*{category.id}"></td>
                                                <td class="text-center align-middle" th:text="*{category.name}"></td>
                                                <td class="text-center align-middle" th:text="*{category.code}"></td>
                                                <td class="text-center align-middle" style="width: 0;">
                                                    <button th:data-id="*{category.id}" type="button" style="position: relative;left: -25px;"class="btn btn-danger float-right btn-delete btnDeleteCategory">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Content-->


        </div>
    </div> <!-- end content -->


    <!-- Footer Start -->
    <th:block th:replace="/dashboard/layout/footer::footer"/>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- Vendor js -->
<th:block th:replace="/dashboard/layout/script/script::script"/>
<script src="/assets_dashboard/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/assets_dashboard/assets/js/pages/datatables.init.js"></script>
<script src="/assets_dashboard/assets/js/all-script-handle-dashboard/category/create-remove-category.js"></script>


</body>
</html>