.woocommerce form .form-row.address-field .select2-container,
#calc_shipping_city_field span.select2.select2-container,
.woocommerce form .form-row.devvn-address-field .select2-container
{
    width: 100% !important;
}
.woocommerce-address-fields select {
    width: 100%;
}
.devvn_loading:after {
    -webkit-animation: devvn_spin_pro 500ms infinite linear;
    animation: devvn_spin_pro 500ms infinite linear;
    border: 2px solid #9E9E9E;
    border-radius: 32px;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    content: "";
    display: block;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 16px;
}

.devvn_loading {
    position: relative;
    opacity: 0.5;
    pointer-events: none;
}

.devvn_loading:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: inherit !important;
    z-index: 2;
}

@-webkit-keyframes devvn_spin_pro {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes devvn_spin_pro {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@media (min-width: 550px) {
    p.form-row-first {
        margin-right: 0% !important;
    }
    p.form-row-first, p.form-row-last {
        width: 48%;
        float: left;
    }
    p.form-row-last {
        float: right !important;
    }
}
.devvn_ghtk_tracking_form {
    position: relative;
    width: 100%;
    clear: both;
}
div#orderInfo_table table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
div#orderInfo_table table td, div#orderInfo_table table th {
    border: 1px solid #ddd;
    padding: 10px;
}
form#devvn_ghtk_tracking {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
}
form#devvn_ghtk_tracking input#orderid {
    margin: 0;
    padding: 2px 10px;
    width: 100%;
    width: calc(100% - 115px);
    width: -moz-calc(100% - 115px);
    width: -webkit-calc(100% - 115px);
    height: 40px;
    border: 1px solid #ddd;
    outline: none;
    position: relative;
    z-index: 1;
}
form#devvn_ghtk_tracking button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 2px 5px;
    height: 40px;
    border: 0;
    background: rgb(19, 97, 50);
    color: #fff;
    z-index: 2;
    width: 115px;
}

#billing_gender_field input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#billing_gender_field input + label:before,
#billing_gender_field input + label:after{
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    top: 1px;
    left: 0;
}
#billing_gender_field input:checked + label:after{
    background: #fd7518;
    border: 1px solid #fd7518;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 4px;
}
#billing_gender_field input:checked + label:before{
    border: 1px solid #fd7518;
}
#billing_gender_field span label {
    position: relative;
    padding: 0 0 0 23px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.woocommerce-shipping-fields__field-wrapper:after {
    content: "";
    display: table;
    clear: both;
}
#billing_address_2_field>label, #shipping_address_2_field>label {
    display: block !important;
    opacity: 1 !important;
    width: 100% !important;
}
p.form-row-first {
    clear: both;
}
.get_address_byphone_wrap button.get_address_byphone {
    color: #0081bd;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    z-index: 1;
    position: relative;
    width: auto !important;
    outline: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-transform: none;
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div#get_address_content {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    margin: 0 auto;
}
.get_address_content_input input {
    overflow: hidden;
    padding: 10px;
    border: 1px solid #dfdfdf !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
    width: 100%;
    -webkit-appearance: none;
    color: #333;
    box-sizing: border-box;
    outline: none;
    margin: 0;
}
.get_address_content_button {
    text-align: center;
}
.get_address_content_button a {
    font-size: 14px;
    color: #fff !important;
    border: 0;
    text-align: center;
    background: #008848;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 9px 0;
    margin: 10px 4px 15px;
    width: 45%;
    font-weight: 700;
    outline: none;
    text-transform: uppercase;
    text-decoration: none !important;
}
#get_address_content:not(.get_address_error) .get_address_content_button a.btn_cancel{
    background: #dfdfdf;
    color: #333 !important;
}
.get_address_content_mess {
    font-size: 13px;
    color: red;
}
#get_address_content.devvn_loading {
    opacity: 1;
}
.get_address_error a.btn_get_address {
    display: none;
}

.get_address_content_input {
    margin-bottom: 5px;
}
.get_address_error .get_address_content_input {
    display: none;
}