<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="left-side-menu">

    <div class="left-side-menu">


        <div class="slimscroll-menu" style="overflow: hidden; width: auto; height: 1090px;">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="/home-dashboard">
                            <i class="fas fa-home"></i>
                            <span > Tổng quan </span>
                        </a>
                    </li>


                    <li>
                        <a href="javascript: void(0);">
                            <i class="fas fa-shopping-bag"></i>
                            <span> Đơn Hàng </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">

                            <li><a href="/orderDetail-dashboard"><i class="fas fa-list" style="margin-right: 5px"></i>Danh sách đơn hàng</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="fas fa-users"></i>
                            <span> Khách Hàng </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/user-dashboard"><i class="fas fa-list" style="margin-right: 5px"></i>Danh sách khách hàng</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="mdi mdi-content-copy"></i>
                            <span> Sản Phẩm </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/product-dashboard"><i class="fas fa-list" style="margin-right: 5px"></i> Danh sách sản phẩm</a></li>


                        </ul>
                    </li>


                    <li>
                        <a href="javascript: void(0);">
                            <i class="mdi mdi-format-underline"></i>
                            <span> Báo cáo </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/report-product-dashboard">Thống kê sản phẩm</a></li>
                            <li><a href="ui-checkbox-radio.html">Thống kê khách hàng</a></li>
                            <li><a href="/report-turnover-dashboard">Thống kê doanh thu </a></li>

                        </ul>
                    </li>







                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>

</th:block>