<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="frm_list_product">
    <textarea style="display:none" id="tempProduct">
        <tr id="tr_{0}">
             <td class="align-middle text-center"></td>
             <td class="align-middle text-center"><img width="80px" src="{1}" alt=""></td>
             <td class="align-middle text-center">{2}</td>
             <td class="align-middle text-center">{3}</td>
             <td class="align-middle text-center">{4}</td>
             <td class="align-middle text-center">{5}</td>
             <td class="align-middle text-center">{6}</td>
             <td class="align-middle text-center">{7}</td>
         </tr>
    </textarea>
</th:block>