<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard | Uplon - Responsive Bootstrap 4 Admin Dashboard</title>
    <th:block th:replace="/dashboard/layout/header::header"/>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->
    <th:block th:replace="/dashboard/layout/navbar/navbar::navbar"/>
    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/dashboard/layout/left-side-menu::left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Uplon</a></li>
                                    <li class="breadcrumb-item active">products</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Danh sách sản phẩm</h4>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-bottom: 5px; margin-top: -16px;">
                    <div class="col-md-9">

                        <button type="button" style="margin-bottom: 10px; margin-left: 5px;"
                                class="btn btn-success float-left btnGoColor">
                            <i class="fas fa-palette"></i>
                            Thêm màu sắc
                        </button>
                        <button type="button" style="margin-bottom: 10px; margin-left: 5px;"
                                class="btn btn-warning float-left btnGoCategory">
                            <i class="fas fa-tag"></i>
                            Thêm Loại sản phẩm
                        </button>
                    </div>

                    <div class="col-md-3">
                        <button type="button" style="margin-bottom: 10px"
                                class="btn btn-danger float-right btn-go-add-product ">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Thêm sản phẩm
                        </button>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="page-title">Tất cả sản phẩm</h5>
                        </div>
                    </div>
                    <div class="row cart-box">
                        <div class="col-lg-12">
                            <table id="datatable-buttons"
                                   class="table table-striped table-bordered dt-responsive nowrap">
                                <!--                            <table id="tableListProducts"-->
                                <thead>
                                <tr>
                                    <th class="align-middle text-center"></th>
                                    <th class="align-middle text-center">Ảnh</th>
                                    <th class="align-middle text-center">Tên Sản phẩm</th>
                                    <th class="align-middle text-center">Loại</th>
                                    <th class="align-middle text-center">Giá tiền</th>
                                    <th class="align-middle text-center">Trạng thái</th>
                                    <th class="align-middle text-center">Ngày khởi tạo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="product, count : ${productList}">
                                    <tr>
                                        <td class="align-middle text-center"></td>
                                        <td class="align-middle text-center"><img width="80px" th:src="*{product.image}"
                                                                                  alt=""></td>
                                        <td class="align-middle text-center"><a
                                                th:href="*{'/detail-product-dashboard/'+product.id}"
                                                th:text="*{product.title}"></a></td>
                                        <td class="align-middle text-center" th:text="*{product.category.name}"></td>
                                        <td class="align-middle text-center text-danger" style="font-weight: bold;"
                                            th:text="*{product.priceFormat}"></td>
                                        <td class="align-middle text-center" th:text="*{product.status}"></td>
                                        <td class="align-middle text-center" th:text="*{product.createdAt}"></td>
                                    </tr>
                                </th:block>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Start Content-->
            </div>
        </div> <!-- end content -->
        <div class="demo">
            <div class="data-container"></div>
        </div>

        <!-- Footer Start -->
        <th:block th:replace="/dashboard/layout/footer::footer"/>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- Vendor js -->
<th:block th:replace="/dashboard/layout/script/script::script"/>
<th:block th:include="/dashboard/productDashboard/frm_list_product::frm_list_product"/>
<script src="/assets_dashboard/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/assets_dashboard/assets/js/pages/datatables.init.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/buttons.bootstrap4.min.js"></script>

<script src="/assets_dashboard/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets_dashboard/assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="/assets_dashboard/assets/libs/pdfmake/vfs_fonts.js"></script>

<script src="/assets_dashboard/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/buttons.print.min.js"></script>

<script src="/assets_dashboard/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="/assets_dashboard/assets/js/all-script-handle-dashboard/product/product.js"></script>
</body>
</html>