<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="rightsidebar">
    <div id="overlay-right-sidebar" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">

            <div class="wishlist-view-sidebar">
                <div class="wishlist-view-sidebar-header">
                    <h4>Wishlist <span>0</span></h4>
                </div>
                <div class="wishlist-view-sidebar-content wishlist_table cart" data-token="">
                </div>
                <div class="wishlist-view-sidebar-footer">
                    <div class="total_price_wrapper"><span>Tổng cộng</span> <strong><span
                            class="woocommerce-Price-amount amount"><bdi>0<span
                            class="woocommerce-Price-currencySymbol">₫</span></bdi></span></strong></div>
                    <a href="https://nhaxinh.com/tai-khoan/wishlist/?wishlist-action" class="wishlist-link is-small">
                        Xem Wishlist </a>

                </div>
            </div>
        </div>
    </div>
</th:block>