<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="footer">
    <footer id="footer" class="footer-wrapper" style="
    bottom: -110px;
">
        <!-- FOOTER 1 -->

        <!-- FOOTER 2 -->
        <div class="footer-widgets footer footer-2 dark">
            <div class="row dark large-columns-4 mb-0">
                <div id="text-14" class="col pb-0 widget widget_text">			<div class="textwidget"><p><img class="logo_ft" src="./assets/cart_files/logo.png"></p>
                    <div class="follow">
                        <h4>Follow us</h4>
                        <p><a href="https://www.instagram.com/nha_xinh/">Instagram</a>–<a href="https://www.youtube.com/c/Nh%C3%A0Xinhvn">Youtube</a>–<a href="https://www.facebook.com/nhaxinhvn">Facebook</a></p>
                    </div>
                    <p><a class="bt_timcuahang" href="https://nhaxinh.com/he-thong-cua-hang/">Hệ Thống Cửa Hàng</a></p>
                </div>
                </div><div id="nav_menu-2" class="col pb-0 widget widget_nav_menu"><span class="widget-title">Về nhà xinh</span><div class="is-divider small"></div><div class="menu-ve-nha-xinh-container"><ul id="menu-ve-nha-xinh" class="menu"><li id="menu-item-502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-502"><a href="https://nhaxinh.com/tin-tuc/">Tin tức</a></li>
                <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="https://nhaxinh.com/tong-cong-ty/">Tổng công ty</a></li>
                <li id="menu-item-27796" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27796"><a href="https://nhaxinh.com/tuyen-dung/">Tuyển dụng</a></li>
                <li id="menu-item-429" class="the_hoivien menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="https://nhaxinh.com/the-hoi-vien/">Thẻ hội viên</a></li>
                <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="https://nhaxinh.com/phieu-qua-tang/">Phiếu quà tặng</a></li>
                <li id="menu-item-436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-436"><a href="https://nhaxinh.com/ban-hang-online/">Bán hàng online</a></li>
                <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="https://nhaxinh.com/giao-hang/">Giao hàng</a></li>
                <li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="https://nhaxinh.com/bao-hanh/">Bảo hành</a></li>
                <li id="menu-item-34216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34216"><a href="https://nhaxinh.com/doi-tra-hang/">Đổi trả hàng</a></li>
            </ul></div></div><div id="nav_menu-3" class="col pb-0 widget widget_nav_menu"><span class="widget-title">CẢM HỨNG #NHAXINH</span><div class="is-divider small"></div><div class="menu-cam-hung-nha-xinh-container"><ul id="menu-cam-hung-nha-xinh" class="menu"><li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="https://nhaxinh.com/cua-hang/">Sản phẩm</a></li>
                <li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-450"><a href="https://nhaxinh.com/cam-hung-nha-xinh-y-tuong/">Ý tưởng và cảm hứng</a></li>
            </ul></div></div>
                <div id="block_widget-3" class="col pb-0 widget block_widget">
                    <span class="widget-title">Newsletter</span><div class="is-divider small"></div>
                    <div id="text-4125259249" class="text">


                        <p>Hãy để lại email của bạn để nhận được những ý tưởng trang trí mới và những thông tin, ưu đãi từ Nhà Xinh</p>
                        <p>Email: nhaxinhcare@akacompany.com.vn</p>


                        <style>
                            #text-4125259249 {
                                font-size: 0.75rem;
                            }
                        </style>
                    </div>

                    <div role="form" class="wpcf7" id="wpcf7-f9-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                        <form action="https://nhaxinh.com/gio-hang/#wpcf7-f9-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="9">
                                <input type="hidden" name="_wpcf7_version" value="5.5.2">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="0">
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                <input type="hidden" name="_wpcf7_recaptcha_response" value="03ANYolqvSc3iRRkq7Jg-iQxJjtZHL-df7zSN9I5khrr57C5TodxPUXX246OmBSYKcVIvlWuUmVMbgnRnbL-_jQZDwXSkqemilkaEpfKBpEGjkeMuEebqN0MyrmPoW5G1WYMYA0DzY6otjRTXh5sFvgcJ_1aOBcRQp4HMyNK3kSbGb2TBE2PuFDBUgKsMzQAZdruJ7orJ4sDS90qqM1agDPFgleBd2I33D6iFqwzeqOSr3hdPvcKeOnf8avRvD_LQSr8-PUihqtYqAhpPXNfi17xtngoaG13QfqhAGnpmG0KZcXYMmmIYv5_mG37Neb-jDZa8KuzOChE_almKV3xxt4SpDMJ8wrGR-1aQvsY8dPmtaa-4IJKN8Ikzc-pSdS4rUFt5FYvwld3QEhyOroraEtLDmnn1-eYl211jxRoA9bu67BAXXGEVr50Nx0SwKnLa5hxtqqQNN92KwTvJwoiHVBDQkfc_rPBl4qrKsSGaAT4mHreJCU9LElepxRHX5_NeNCV3k-zjQ-fne">
                            </div>
                            <div class="flex-row form-flat medium-flex-wrap">
                                <div class="flex-col flex-grow">
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Nhập email của bạn"></span>
                                </div>
                                <div class="flex-col ml-half">
                                    <input type="submit" value="Đăng ký" class="wpcf7-form-control has-spinner wpcf7-submit button"><span class="wpcf7-spinner"></span>
                                </div>
                            </div>
                            <div class="wpcf7-response-output" aria-hidden="true"></div></form></div>
                </div>

            </div>
        </div>



        <div class="absolute-footer dark medium-text-center small-text-center">
            <div class="container clearfix">

                <div class="footer-secondary">
                    <div class="footer-text inline-block small-block">


                        <div class="row slider_gallary_logo large-columns-6 medium-columns-3 small-columns-2 slider row-slider slider-nav-reveal is-draggable flickity-enabled" data-flickity-options="{&quot;imagesLoaded&quot;: true, &quot;groupCells&quot;: &quot;100%&quot;, &quot;dragThreshold&quot; : 5, &quot;cellAlign&quot;: &quot;left&quot;,&quot;wrapAround&quot;: true,&quot;prevNextButtons&quot;: true,&quot;percentPosition&quot;: true,&quot;pageDots&quot;: false, &quot;rightToLeft&quot;: false, &quot;autoPlay&quot; : 3000}" tabindex="0">











                            <div class="flickity-viewport" style="height: 60px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="gallery-col col is-selected" style="position: absolute; left: 0%;">
                                <div class="col-inner">
                                    <a href="https://www.aacorporation.com/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/aa-corporation-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col is-selected" style="position: absolute; left: 16.67%;">
                                <div class="col-inner">
                                    <a href="https://www.akafurniture.com.vn/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/aka-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col is-selected" style="position: absolute; left: 33.33%;">
                                <div class="col-inner">
                                    <a href="https://nhaxinh.com/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/nha-xinh-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col is-selected" style="position: absolute; left: 50%;">
                                <div class="col-inner">
                                    <a href="https://www.boconcept.com/vi-vn/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/Boconcept-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col is-selected" style="position: absolute; left: 66.67%;">
                                <div class="col-inner">
                                    <a href="http://bellavitaluxury.com/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/bellavita-luxury-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col is-selected" style="position: absolute; left: 83.33%;">
                                <div class="col-inner">
                                    <a href="https://www.calligarisvn.com/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/calligaris-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col" style="position: absolute; left: 100%;" aria-hidden="true">
                                <div class="col-inner">
                                    <a href="http://bellavitaluxury.com/brands/baxter-vi/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/baxter-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col" style="position: absolute; left: 116.67%;" aria-hidden="true">
                                <div class="col-inner">
                                    <a href="https://www.ligne-roset.com/vn/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/ligneroset-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col" style="position: absolute; left: 133.33%;" aria-hidden="true">
                                <div class="col-inner">
                                    <a href="https://www.lago.it/en/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/lago-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div><div class="gallery-col col" style="position: absolute; left: 150%;" aria-hidden="true">
                                <div class="col-inner">
                                    <a href="https://www.adamos.com.vn/" target="_blank" title="">            <div class="box has-hover gallery-box box-none">
                                        <div class="box-image" style="width:71%;">
                                            <img width="100" height="30" src="./assets/cart_files/adamos-logo-2311.png" class="slider_gallary_logo" alt="" ids="28916,28920,28932,28924,28922,28926,28934,28930,28928,28918" style="none" lightbox="false" type="slider" columns="6" auto_slide="3000" image_width="71" text_align="center">                                                              </div>
                                        <div class="box-text text-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    </a>          </div>
                            </div></div></div><button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></div>          </div>
                </div>


                <div class="footer-primary">
                    <div class="copyright-footer">
                        © 2021 - Bản quyền của Nhà Xinh - thương hiệu thuộc AKA Furniture<br>
                        Từ năm 1999 - thương hiệu đăng ký số 284074 Cục sở hữu trí tuệ
                        <img src="./assets/cart_files/image-15.png" style="float:right">      </div>
                </div>
            </div>
        </div>
    </footer>

</th:block>