.jss1552 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


 .jss1560 {
     display: flex;
     align-items: center;
 }


 .MuiButton-textSizeSmall {
     padding: 4px 5px;
     font-size: 0.8125rem;
 }
.jss1565 {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.jss1569 {
    color: #0F1824;
    text-decoration: none;
}
.jss1566 {
    width: 1px;
    height: 20px;
    margin: 0 2px 0 2px;
    border-left: 1px solid #D3D5D7;
}

 .MuiButtonGroup-root {
     display: inline-flex;
     border-radius: 4px;
 }
.MuiButton-iconSizeSmall > *:first-child {
    font-size: 18px;
}
.jss27116 {
    color: #A3A8AF;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiButton-startIcon {
    display: inherit;
    margin-left: -4px;
    margin-right: 8px;
}
.MuiButton-startIcon.MuiButton-iconSizeSmall {
    margin-left: -2px;
}
.MuiButton-root {
    color: #0F1824;
    height: 36px;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 80px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    line-height: 1;
    border-radius: 10px;
    text-transform: uppercase;
}
.jss27116 {
    color: #A3A8AF;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

element.style {
    margin-left: 16px;
}

 .MuiButtonGroup-grouped {
     min-width: 40px;
 }
 .jss17450 {
     min-width: 64px;
     min-height: 36px;
 }
 .jss17448 {
     display: flex;
     padding: 0 16px;
     font-size: 14px;
     box-shadow: none;
     min-height: 36px;
     align-items: center;
     font-weight: 500;
     border-radius: 3px;
     text-transform: none;
     justify-content: center;
 }
 .MuiButton-containedSizeSmall {
     padding: 4px 10px;
     font-size: 0.8125rem;
 }
 .MuiButton-containedPrimary {
     color: #fff;
     background-color: #0088FF;
 }
a:hover {
    color: #d84006;
    text-decoration: none;
}
.jss37096 {
    display: flex;
    padding: 16px;
    align-items: center;
    flex-direction: row;
}
 .jss37097 {
     flex: 1;
 }
 .MuiPaper-elevation1 {
     box-shadow: none;
 }
 .MuiPaper-rounded {
     border-radius: 3px;
 }

 .MuiPaper-root {
     color: #0F1824;
     transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     background-color: #fff;
 }
.jss37162 {
    margin: 0 16px;
}

 .MuiButtonGroup-root {
     display: inline-flex;
     border-radius: 4px;
 }
.jss37099.Mui-disabled {
    color: #747C87;
    background-color: #E8EAEB;
}
.jss37383.stickyHeader {
    top: 0;
    z-index: 9;
    position: sticky;
}

 .jss37383 {
     flex: 0 0 auto;
     z-index: 2;
     overflow: hidden;
 }
 .MuiTableContainer-root {
     width: 100%;
     overflow-x: auto;
 }
.jss37384 {
    table-layout: fixed;
}

 .MuiTable-root {
     width: 100%;
     display: table;
     border-spacing: 0;
     border-collapse: collapse;
 }