<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard | Uplon - Responsive Bootstrap 4 Admin Dashboard</title>
    <th:block th:replace="/dashboard/layout/header::header"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->
    <th:block th:replace="/dashboard/layout/navbar/navbar::navbar"/>
    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/dashboard/layout/left-side-menu::left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <!-- Start Content-->
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Uplon</a></li>
                                    <li class="breadcrumb-item active">statistical</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Thống kê</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div th:object="${totalOrder}" class="card-box tilebox-one">
                            <i class="icon-chart float-right m-0 h2 text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Tổng doanh thu</h6>
                            <h3 class="my-3"><span th:text="${totalOrder}" ></span></h3>
                            <span class="badge badge-pink mr-1"> 0% </span> <span class="text-muted">From previous period</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div th:object="${totalOrderMonth}" class="card-box tilebox-one">
                            <i class="icon-chart float-right m-0 h2 text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Doanh thu theo tháng hiện tại</h6>
                            <h3 class="my-3"><span th:text="${totalOrderMonth}"></span></h3>
                            <span class="badge badge-pink mr-1"> 0% </span> <span
                                class="text-muted">From previous period</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div th:object="${order}" class="card-box tilebox-one">
                            <i class="icon-chart float-right m-0 h2 text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Tổng toàn bộ đơn hàng</h6>
                            <h3 class="my-3"><span th:text="${order}"></span></h3>
                            <span class="badge badge-pink mr-1"> 0% </span> <span
                                class="text-muted">From previous period</span>
                        </div>
                    </div>
                    <div th:object="${orderDTOSThisMonth}" class="col-md-6 col-xl-3">
                        <div class="card-box tilebox-one">
                            <i class="icon-chart float-right m-0 h2 text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Đơn hàng trong tháng hiện tại</h6>
                            <h3 class="my-3"><span th:text="${orderDTOSThisMonth}" ></span></h3>
                            <span class="badge badge-pink mr-1"> 0% </span> <span
                                class="text-muted">From previous period</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h3 style="text-align: center;">Thống kê doanh thu sản phẩm</h3>
                    </div>

                    <canvas id="myChart" style="height: 500px;width: 1000px;"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
                    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
                    <script>
                        var productGrand = [], productdateData = [], productQuantityData = [];

                        async function dummyChart() {
                            await getDummyData()
                            const ctx = document.getElementById('myChart').getContext('2d');

                            const chart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: productdateData,
                                    datasets: [{
                                        label: 'doanh thu ',
                                        backgroundColor: 'green',
                                        borderColor: 'rgb(75, 192, 192)',
                                        data: productGrand
                                    },

                                    ]
                                },
                                options: {
                                    tooltips: {
                                        mode: 'index',
                                    }
                                }
                            })
                        }

                        dummyChart()

                        //Fetch Data from API
                        async function getDummyData() {
                            const apiUrl = "http://localhost:8092/api/order/";
                            // +"order-createAt/" ;
                            // +page.element.date1 + "/"+ page.element.date2;
                            const response = await fetch(apiUrl)
                            console.log(response)
                            const barChatData = await response.json()
                            console.log(barChatData)
                            const date = barChatData.map((x) => x.createdAt)
                            console.log(date)
                            const grand = barChatData.map((x) => x.grandTotal)
                            console.log(grand)
                            productdateData = date
                            productGrand = grand

                        }

                    </script>
                </div>

            </div>

        </div>

        <!-- end content -->


        <!-- Footer Start -->
        <th:block th:replace="/dashboard/layout/footer::footer"/>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- Vendor js -->
<th:block th:replace="/dashboard/layout/script/script::script"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let page = {
        url: {
            getAllOrder: App.BASE_URL_ORDER,
            // getAllOrderMax: App.BASE_URL_ORDER +"/max"


        },
        element: {},
        loadData: {},
        commands: {},
        dialogs: {
            element: {},
            loadData: {},
            commands: {},
            close: {},
            alertDanger: {},
            inputError: {}
        }
    }
    page.element.selectTime = $("#selectTime:selected");
    page.element.oneDate = $('#oneDate');
    page.element.oneMonth = $('#oneMonth');
    page.element.oneYear = $('#oneYear');
    page.element.buttonselectdate = $('#selectDate')

    let order = new Order();
    page.dialogs.commands.getAllOrder = (id) => {
        return $.ajax({
            "method": "GET",
            "url": page.url.getAllOrder + "/" + id
        }).done((data) => {
            console.log(data);
            order = data;
        })
    }

    $("#selectDate").on('click', function () {


        $.ajax({
            type: "GET",
            url: "http://localhost:8092/api/statistics/" + ""
        }).done((data) => {
            console.log(data)
        }).fail((data) => {
            console.log(data)
        })
    })


</script>
</body>
</html>