<!DOCTYPE html>
<html lang="en" id="body">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/js_css/css/login.css">
    <link rel="stylesheet" href="/assets/js_css/css/iziToast.css">
    <link rel="stylesheet" href="/assets/js_css/font-awesome/v4.7.0/css/all.min.css">

</head>
<style></style>
<body >

<div class="container">
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" id="usernameLo" class="login__input" placeholder="User name / Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" id="passwordLo" class="login__input" placeholder="Password">
                    </div>
                    <button class="button login__submit" id="btn_sign_in">
                        <span class="button__text">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </div>
<!--                <div class="social-login">-->
<!--                    <h3>log in via</h3>-->
<!--                    <div class="social-icons">-->
<!--                        <a href="#" class="social-login__icon fab fa-instagram"></a>-->
<!--                        <a href="#" class="social-login__icon fab fa-facebook"></a>-->
<!--                        <a href="#" class="social-login__icon fab fa-twitter"></a>-->
<!--                        <a href="/http://localhost:8092/" ><i class="far fa-home">Home</i></a>-->

<!--                    </div>-->
<!--                </div>-->

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</div>
</body>


<script src="/assets/js_css/js/app.js"></script>
<script src="/assets/js_css/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js_css/js/iziToast.min.js"></script>
<!--<script src="/assets/js_css/js/jquery.validate-1.19.3.min.js"></script>-->
<script src="/assets/js_css/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js_css/js/jquery-ui.min.js"></script>
<script src="/assets/js_css/js/sweetalert2.min.js"></script>
<script src="/assets_dashboard/assets/js/all-script-handle-dashboard/login/login.js"></script>


</html>