<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Order List | Nhà Xinh </title>
    <th:block th:replace="/dashboard/layout/header::header"/>
</head>
<style>

</style>
<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/dashboard/layout/navbar/navbar::navbar"/>
    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/dashboard/layout/left-side-menu::left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-8">
                                        <a href="/order-dashboard" class="page-title">Quay lại danh sách đơn đặt
                                            hàng</a>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                    <div class="col-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12"><h2>Thông tin khách hàng</h2></div>
                            </div>
                            <div class="row" style="    padding-top: 10px;">
                                <div class="col-12 SelectOneCustomer">
                                    <select class="form-control AllCustomerInfor"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8 AddressDelivery" style="    padding-top: 20px;">
                                            <div class="no-data-notice">
                                                <img  width="270px " src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/a60759ad1dabe909c46a817ecbf71878.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4>Thông tin bổ sung</h4>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <span th:object="${userDTO}">Bán bởi: <span
                                                            th:text="${userDTO}"></span></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <span>Quyền: <span>ADMIN</span></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row billingAddress" style="    padding-top: 20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12"><h3>Thông tin sản phẩm</h3></div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col-12"><input type="text" id="productSearchOutSide"
                                                                   class="form-control" readonly
                                                                   placeholder="Tìm theo tên,Mã SKU"></div>
                                        <div class="col-12">
                                            <table class="table table-hover table-responsive-xl" id="listSearchProduct">
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" style="z-index: 2">
                                    <div class="col-12">
                                        <table class="table table-bordered" id="listCartitems">
                                            <thead>
                                            <tr>
                                                <th class="text-center align-middle">Stt</th>
                                                <th class="text-center align-middle">Ảnh</th>
                                                <th class="align-middle">Tên Sản phẩm</th>
                                                <th class="text-center align-middle">Số lượng</th>
                                                <th class="text-center align-middle">Đơn giá</th>
                                                <th class="text-center align-middle">Thành tiền</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row" style="z-index: 2 ;padding: 40px 5px 15px 10px;">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col-12"><h4>Ghi chú đơn hàng</h4></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <textarea id="description_order" class="form-control"
                                                                  placeholder="Ghi chú "></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row all-bill" style="margin: 40px 10px 20px 50px;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="col-12">
                                <div class="row" style="padding: 15px 0px 15px 0px;">
                                    <div class="col-8">
                                    </div>
                                    <div class="col-3 btnCreateOrder">
                                        <button style=" float:right ;"
                                                class="btn btn-primary btn-create-Order"><i class="fa fa-plus"></i>
                                            Tạo đơn hàng
                                        </button>
                                    </div>
                                    <div class=" col-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<!-- Start Content-->

</div> <!-- end content -->


<!-- Footer Start -->
<th:block th:replace="/dashboard/layout/footer::footer"/>
<!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- Vendor js -->
<th:block th:replace="/dashboard/layout/script/script::script"/>
<th:block th:replace="/dashboard/orderDashboard/modal_update::modal_update"/>
<!-- Datatables init -->
<script>
    // $(".AllCustomerInfor").select2()
</script>
<script src="/assets_dashboard/assets/js/all-script-handle-dashboard/order/create-order.js"></script>
</body>
</html>