<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Order List | Nhà Xinh </title>
    <th:block th:replace="/dashboard/layout/header::header"/>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/dashboard/layout/navbar/navbar::navbar"/>
    <!-- end Topbar -->


    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/dashboard/layout/left-side-menu::left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Uplon</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Danh sách đơn đặt
                                        hàng</a></li>
                                    <li class="breadcrumb-item active">Danh sách đơn đặt hàng</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Danh sách đơn đặt hàng</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h2 class="header-title">Danh sách đơn đặt hàng</h2>

                            <table id="datatable-buttons"
                                   class="table table-striped table-bordered dt-responsive nowrap tableListOrder"
                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th class="text-center align-middle"
                                        style="font-size: 17px;font-weight: bold;"></th>
                                    <th class="text-center align-middle" style="font-size: 17px;font-weight: bold;">Tên
                                        khách hàng
                                    </th>
                                    <th class="text-center align-middle" style="font-size: 17px;font-weight: bold;">
                                        Trạng thái đơn hàng
                                    </th>
                                    <th class="text-center align-middle" style="font-size: 17px;font-weight: bold;">Tổng
                                        tiền
                                    </th>
                                    <th class="text-center align-middle" style="font-size: 17px;font-weight: bold;">Thời
                                        gian đặt hàng
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="orderDetail, count : ${orderDetail}">
                                    <tr>
                                        <td class="text-center align-middle" th:text="*{'#0000'+orderDetail.id}"></td>
                                        <td class="text-center align-middle">
                                            <a style="font-weight: bold;color: darkslategrey;"
                                               th:href="*{'/order-dashboard/detail/'+orderDetail.id}"
                                               th:text="*{orderDetail.fullName}"></a></td>
                                        <td class="text-center align-middle"
                                            th:if="*{orderDetail.statusOrderDetail== 'Đang chờ duyệt' && orderDetail.statusOrderDetail!= 'Đã Hủy đơn hàng' && orderDetail.statusOrderDetail!= 'Đơn hàng đã duyệt' && orderDetail.statusOrderDetail!= 'Đã giao hàng thành công' && orderDetail.statusOrderDetail!= 'Đang giao hàng'  }"><span
                                                style=" color: #6c6d44;
                                                        font-weight: bold;
                                                        border: 1px solid #fff213;
                                                        border-radius: 5px;
                                                        background: #fff213;
                                                        padding: 5px 10px 5px 10px;"
                                                th:text="*{orderDetail.statusOrderDetail}"></span></td>
                                        <td class="text-center align-middle"
                                            th:if="*{orderDetail.statusOrderDetail== 'Đã Hủy đơn hàng' && orderDetail.statusOrderDetail!= 'Đang chờ duyệt' && orderDetail.statusOrderDetail!= 'Đơn hàng đã duyệt' && orderDetail.statusOrderDetail!= 'Đã giao hàng thành công' && orderDetail.statusOrderDetail!= 'Đang giao hàng'  }"><span
                                                style=" color: #fff;
                                                        font-weight: bold;
                                                        border: 1px solid #ff0000;
                                                        border-radius: 5px;
                                                        background: #ff0000;
                                                        padding: 5px 10px 5px 10px;"
                                                th:text="*{orderDetail.statusOrderDetail}"></span></td>
                                        <td class="text-center align-middle"
                                            th:if="*{orderDetail.statusOrderDetail == 'Đơn hàng đã duyệt' && orderDetail.statusOrderDetail != 'Đã Hủy đơn hàng' && orderDetail.statusOrderDetail!= 'Đang chờ duyệt' && orderDetail.statusOrderDetail!= 'Đã giao hàng thành công' && orderDetail.statusOrderDetail!= 'Đang giao hàng' }"><span
                                                style=" color: #fff;
                                                        font-weight: bold;
                                                        border: 1px solid #06d506;
                                                        border-radius: 5px;
                                                        background: #06d506;
                                                        padding: 5px 10px 5px 10px;"
                                                th:text="*{orderDetail.statusOrderDetail}"></span></td>
                                        <td class="text-center align-middle"
                                            th:if="*{orderDetail.statusOrderDetail == 'Đã giao hàng thành công' && orderDetail.statusOrderDetail != 'Đã Hủy đơn hàng' && orderDetail.statusOrderDetail!= 'Đang chờ duyệt' && orderDetail.statusOrderDetail!= 'Đang giao hàng'&&  orderDetail.statusOrderDetail!= 'Đơn hàng đã duyệt' }"><span
                                                style=" color: #fff;
                                                        font-weight: bold;
                                                        border: 1px solid #06d506;
                                                        border-radius: 5px;
                                                        background: #06d506;
                                                        padding: 5px 10px 5px 10px;"
                                                th:text="*{orderDetail.statusOrderDetail}"></span></td>
                                        <td class="text-center align-middle"
                                            th:if="*{orderDetail.statusOrderDetail == 'Đang giao hàng' && orderDetail.statusOrderDetail != 'Đã Hủy đơn hàng' && orderDetail.statusOrderDetail!=   'Đã giao hàng thành công' &&  orderDetail.statusOrderDetail!= 'Đang chờ duyệt' &&  orderDetail.statusOrderDetail!= 'Đơn hàng đã duyệt' }"><span
                                                style=" color: #fff;
                                                        font-weight: bold;
                                                        border: 1px solid #075fff;;
                                                        border-radius: 5px;
                                                        background: #075fff;;
                                                        padding: 5px 10px 5px 10px;"
                                                th:text="*{orderDetail.statusOrderDetail}"></span></td>
                                        <td class="text-center align-middle" th:text="*{orderDetail.priceFormat}"></td>
                                        <td class="text-center align-middle"
                                            th:text="*{#dates.format(orderDetail.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div>
        </div>
    </div>
    <!-- Start Content-->

</div> <!-- end content -->


<!-- Footer Start -->
<th:block th:replace="/dashboard/layout/footer::footer"/>
<!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- Vendor js -->
<th:block th:replace="/dashboard/layout/script/script::script"/>
<script src="/assets_dashboard/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/assets_dashboard/assets/js/pages/datatables.init.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/buttons.bootstrap4.min.js"></script>

<script src="/assets_dashboard/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets_dashboard/assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="/assets_dashboard/assets/libs/pdfmake/vfs_fonts.js"></script>

<script src="/assets_dashboard/assets/libs/datatables/buttons.html5.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/buttons.print.min.js"></script>

<script src="/assets_dashboard/assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="/assets_dashboard/assets/libs/datatables/dataTables.select.min.js"></script>

<!-- Datatables init -->
<script>


</script>

</body>
</html>