<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="str3_order">
    <textarea style="display:none" id="str3_order">
            <tr>
                <td>
                    <img width="100px" src="{0}" alt="">
                </td>
                <td>
                    <td ><p style="font-weight: bold;font-size: 17px;"> {2}</p>
                    <p style="font-style: italic;font-size: 10px;"> {1}</p></td>
                <td><h5 class="text-danger text-center align-middle"> {3} </h5>
                </td>
            </tr>
    </textarea>
</th:block>